<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="strConn" connectionString="User id=sa;Password=batmax;Initial Catalog=GisRI;data source=LOCALHOST\SQLXE;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="Debug" value="S"/>
        <add key="Manutenzione" value="N"/>
        <add key="Collaudo" value="N"/>

        <add key="ServerMail" value="smtp.gmail.com"/>
        <add key="Mail_Login" value="massimiliano.sani"/>
        <add key="Mail_Psw" value="7BEB450E043881B0BCF95280CD897A8B"/>
        <add key="ServerPort" value="465"/>
        <add key="ServerSSL" value="S"/>
        
        <add key="MailControl" value="massimiliano.sani@gmail.com"/>
        <add key="MailAssistenza" value="massimiliano.sani@gmail.com"/>
        <add key="MailSend" value="massimiliano.sani@gmail.com"/>
        <add key="No_Reply" value="no_reply@ricorda.it"/>
        
        <add key="Repository" value="http://localhost/Repository/GisRI"/>
        <add key="FileRepository" value="C:\Dati\Repository\GisRI"/>
        <add key="Web_Site" value="http://localhost:1110"/>
        
        <add key="Language_SQL" value="it-IT"/>
        <add key="InvioMail" value="N"/>
        <add key="Cifratura" value="N"/>

        <add key="Alert_Dep_Max_Mesi" value="3"/>
        <add key="Alert_Dep_Med_Mesi" value="2"/>
        <add key="Alert_Dep_Min_Mesi" value="1"/>

        <add key="Alert_Quarta_Min_GG" value="45"/>
        <add key="Alert_Quarta_Out_GG" value="90"/>

        <add key="Mappa_Zoom" value="18"/>
        <add key="GG_Entro_Per_Registrazione" value="10"/>
        <add key="MM_Entro_Per_Smaltimento" value="3"/>

        <add key="Dep_Volume_Max" value="30"/>
        <add key="Dep_Volume_Max_Pericolosi" value="10"/>

        <add key="Nome_Azienda" value="Ri.-C.O.R.D.A."/>

        <add key="InvioMail" value="N"/>
        <add key="Messaggistica_Invio" value="X"/> <!-- S=Invia anche mail N=Non invia mail X=chiede -->

        <add key="Max_GG_Futuro_FIR" value="10"/>
        <add key="Max_GG_Lock_Rifiuti" value="10"/>

        <add key="Controls_Required_Label" value="font-weight:bold;"/> <!--  -->
        <add key="Controls_Required_Input" value=""/> <!-- border-color:#1265ab; border-width:1px; -->

        <add key="Holiday_XML" value="C:\Dati\Progetti\GisRi\GisRI_Web\GisRI_Web\assets\xml\Holidays.xml"/>

        <add key="PasswordPolicy" value="3"/>

        <add key="MailSupport_Dati" value="dati@ri-corda.ambientesc.it"/>
        <add key="MailSupport_Appl" value="assistenza@ri-corda.ambientesc.it"/>
        <add key="MailSupport_Dati_M" value="m.sani@mesys.it"/>
        <add key="MailSupport_Appl_M" value="m.sani@mesys.it"/>

        <add key="VerificaVisibilita" value="S"/>
        
    </appSettings>
    <location path="Messaggi/Nuovo.aspx">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
        </system.web>
    </location>
    <location path="Report/Depositi_Oltre_Capienza.aspx">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
        </system.web>
    </location>
    <system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" uiCulture="it-IT" />
        <sessionState timeout="240" />
        <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
        <compilation debug="true" targetFramework="4.0"/>
        <httpHandlers>
            <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
            <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <controls>
                <add tagPrefix="maps" namespace="Artem.Google.UI" assembly="Artem.Google"/>
            </controls>
        </pages >
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="CaptchaImage" preCondition="integratedMode" verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
            <add name="Telerik.Web.UI.WebResource" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
        </handlers>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Gisco_WsSoap" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DatiAmbientali_Web_Prod/WebServices/Gisco.asmx"
                binding="basicHttpBinding" bindingConfiguration="Gisco_WsSoap"
                contract="Gisco_Ws.Gisco_WsSoap" name="Gisco_WsSoap" />
        </client>
    </system.serviceModel>
</configuration>