.tab-font {
    font-size: 16px !important;
}

.btn {
    white-space: normal !important;
}
.overflow {
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}
.content-panel {
    margin-top: 10px;
    padding: 10px;
}
.table-container {
    overflow:auto;
    text-align: left;
}
.table-inbox-wrap {
    margin: 0;
}
.login .form-login {
    margin: 10% auto 0;
}
.recent-activity .activity-panel {
    width: 100%;
}
.recent-activity .activity-panel td{
    width: 33%;
    padding: 5px;
}
.label-full-width {
    text-indent: inherit;
    width: inherit;;
}
.RadAsyncUpload.RadUpload.RadUpload_Default {
    width: 100%;
}
@media (max-width:320px) {
    header {
        background-size: cover;
        background-color: #fff;
    }
    .login .form-login {
        margin: 0 auto ;
        border-radius: 0;
    }
    .login .container {
        padding: 0;
    }
    ul.top-menu > li > .logout {
        /* color: #94590b; */
        font-size: 19px;
        color:Orange;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #A3A3A3 !important;
        padding: 4px 4px;
        margin-right: 15px;
        background: #fff;
        margin-top: 15px;
    }

    .head-menu {
        text-align: center;
    }
    .side-col {
        padding-left: 15px;
        padding-top: 15px;
    }


    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }

    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border: none !important;

    }


    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 480px) {
    .input-group {
        margin-bottom: 3px !important;
    }
    .gisri_title_left {
        float: none;
    }
    .gisri_button_right {
        float: none;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
    }
    .login .form-login {
        margin: 0 auto ;
        border-radius: 0;
    }
    .login .container {
        padding: 0;
    }
    ul.top-menu > li > .logout {
        /* color: #94590b; */
        font-size: 19px;
        color:Orange;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #A3A3A3 !important;
        padding: 4px 4px;
        margin-right: 15px;
        background: #fff;
        margin-top: 15px;
    }
    .head-menu {
        text-align: center;
        box-sizing:
    }
    .side-col {
        padding-left: 15px;
        padding-top: 15px;
    }


    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }

    .recent-activity .legend{
        display: none;
    }

    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border: none !important;

    }

    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    ul.top-menu > li > .logout {
        /* color: #94590b; */
        font-size: 19px;
        color:Orange;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #A3A3A3 !important;
        padding: 4px 4px;
        margin-right: 15px;
        background: #fff;
        margin-top: 15px;
    }
    .content-panel > .btn {
        text-align: center;
    }
    .side-col {
        padding-left: 15px;
        padding-top: 15px;
    }
    .recent-activity td:first-child {
        margin-left: 10px;
    }


    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }
    .recent-activity .legend{
        width: 60px;
        vertical-align: middle;
        white-space: nowrap
    }

    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border-left: 10px solid #000000;

    }

    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .content-panel > .btn {
        text-align: left;
    }
    .side-col {
        padding-left: 15px;
        padding-top: 15px;
    }


    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }
    .recent-activity .legend{
        width: 20px;
        vertical-align: middle;
        white-space: nowrap
    }

    .recent-activity .head{
        border-left: 10px solid #fff;
        padding-right: 5px;

    }
    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border-left: 10px solid #000000;

    }


    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 15px;
        padding-right: 0px;
    }
}

@media (min-width: 980px) {
    .content-panel > .btn {
        text-align: left;
    }
    .side-col {
        padding-left: 15px;
        padding-top: 15px;
    }


    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }
    .recent-activity .legend{
        width: 50px;
        vertical-align: middle;
        white-space: nowrap
    }

    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border-left: 10px solid #000000;

    }


    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 15px;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    .content-panel > .btn {
        text-align: left;
    }
    .side-col {
        padding-left: 0;
        padding-top: 0;
    }

    /* tabella depositi temporanei */

    .progress {
        position: relative;
    }
    .gisri_progress_label {
        top: 2px;
        left: 0;
        margin-top: 0;
    }

    .recent-activity .activity-icon {
        margin: 20px 0;

    }
    .recent-activity .body {
        border-left: 10px solid #000000;

    }


    /* sezione configurazione */

    .conf-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .conf-content {
        padding-left: 15px;
        padding-right: 0px;
    }
}
