body:after {
    content: "";
    position: fixed;
    background: #D00;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #D00;
    border-right: 10px solid #D00;  
}
